
@import url('https://fonts.googleapis.com/css2');

/*Styling everything in the html page*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    outline: none;
    border: none;
}

/*Styling in html tag*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/*styling in body tag*/
body{
    background-color: black;
    color:white;
}

/*styling the header class*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

section{
    min-height:  100vh;
    padding: 10rem 9% 2rem;
}

/* styling logo*/
.Logo{
    font-size: 1.7rem;
    color:white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

/* styling navbar classes elements */
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.7rem;
}

.navbar a:hover,
.navbar a.active {
    color: darkorange;
}

#menu{
    font-size: 3.6rem;
    display: none;
}

/* HOME SECTION STARTS */

.home{
    text-align: left;
    display: flex;
    align-items: center;
}

.home-detail h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-detail h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
}
.home-detail p{
    margin-right: 40%;
    font-size: 2rem;
    text-align: justify;
}
.home-detail h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: darkorange;
}

.social-media a{
    text-align: left;
    display: inline-flex ;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: darkorange;
    font-size: 2rem;
    border: 2px solid darkorange;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover, .social-media a.active{
    background-color: darkorange;
    color: black;
    box-shadow: 0 0 20px darkorange;
}

.home-detail .btn{
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 40px;
    color: black;
    background: darkorange;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    outline: none;
    transition: .5sec ease;
    cursor: pointer;
}
.btn:hover{
    background: black;
    color: darkorange;
    border: 1px solid darkorange;
}

.home .home-image img {
    height: 45%;
    width: 20%;
    position: absolute;
    left: 85%;
    bottom: 25%;
    border-radius: 30px;
    transform: translateX(-50%);
    transition: opacity 1s, bottom 1s, left 1s;
    opacity: 0.5;
}


.home .home-image img:hover{
    opacity: 1;
    left: 80%;
    transform: translateX(-50%);
    transition: bottom 0.5s, left 1s;
}









/* ABOUT SECTION STARTS */

.about{
    background-color: #111;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.about-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
  
.about .about-section p{
    font-size: 2rem;
    text-align: justify;
}

.allheading{
    text-align: center;
    font-size: 4.5rem; 
}
.about h2{
    text-align: left;
    line-height: 1.2;
}
.about-section h3{
    font-size: 2.6rem;
}
.about-section p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about .tab-titles {
    display: flex;
    margin: 20px 350px 10px;
}

.about .tab-links {
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-right: 80px; /* Add margin-right to create space between tab-links */
}

.about .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: darkorange;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about .tab-links.active-link::after{
    width: 50%;
}

#edu {
    margin-left: 120px;
}
#internship {
    margin-left: 280px;
}
#intr {
    margin-left: 445px;
}
  

.about .tab-contents ul li{
    list-style: none;
    margin: 10px 350px 20px;
}

.about .tab-contents span{
   font-size: 20px;
}

.about .tab-contents{
    display: none;
}

.about .tab-contents.active-tab{
    display: block;
}










/* CERTIFICATION SECTION STARTS */
/* Keep the existing styling for the "giphy.gif" image */
.certificate{
    min-height: 800px;
}

.certification-img {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-end; /* Align elements at the bottom */
    align-items: center;
    margin-top: -50px;
}

.certification-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}















/* service section */
.service {
    min-height: 1000px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-img {
    margin-top: 2rem;
}

.service-img h2{
    margin-bottom: 4rem;
}

.service-img img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 2rem;
}

.service-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.service-section .service-box {
    flex: 0 0 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    background: black;
    color: white;
    border: 3px solid black;
    transition: 0.5s ease;
    margin-bottom: 2rem; /* Add margin bottom for spacing */
    margin-right: 2rem;
}

.service-box:hover {
    border: 2px solid darkorange;
    transform: scale(1.2);
}

.service-box i {
    font-size: 100px;
    color: darkorange;
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/* Project section */

.portfolio h2{
    margin-bottom: 3.5rem;
}

.portfolio-box{
    margin-top: 5rem;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
    margin-right: 1rem;
}

.portfolio-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2.5rem;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-head{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0,0,0,.3), darkorange
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;  
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.2);
}

.portfolio-box:hover .portfolio-head{
    transform: translateY(0%);
}

.portfolio-head h4{
    font-size: 3rem;
}

.portfolio-head p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-head a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 50%;
    text-decoration: none;
}

.portfolio-head i{
    font-size: 2.5rem;
    color: black;
}






/* contact me */
.contact{
    min-height: 600px;
    background-color: #111;
}

.contact h2{
    margin-bottom: 5rem;
}

.contact-info h3{
    font-size: 3rem;
}
.contact-info p{
    font-size: 2rem;
    margin-bottom: 2rem;
}
  
.contact-info:hover {
    display: inline-block;
    transform: scale(1.3);
    transform-origin: center;
    transition: transform 0.5s ease
}


/* Responsive Styles for screens with a maximum width of 1200px */
@media only screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 5%;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: black;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0;
        transition: all 0.3s ease-in;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        margin: 1rem 0;
        font-size: 2rem;
    }

    #menu {
        display: block;
        cursor: pointer;
    }

    .home-detail p {
        margin-right: 0;
    }

    .home .home-image img {
        height: 30%;
        width: 60%;
        bottom: 10%;
    } 

    .about-img img {
        width: 100px;
        height: 100px;
    }

    .service-section .service-box {
        flex: 0 0 100%;
    }

    .portfolio-section {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    .about .tab-titles {
        margin: 20px 10px 10px; /* Adjust margins for smaller screens */
    }

    .about .tab-links {
        margin-right: 20px; /* Adjust margin-right for space between tab-links */
    }

    .about .tab-contents ul li {
        margin: 10px 10px 20px; /* Adjust margins for smaller screens */
    }

    #edu {
        margin-left: 10px; /* Adjust margin-left for smaller screens */
    }

    #internship {
        margin-left: 10px; /* Adjust margin-left for smaller screens */
    }

    #intr {
        margin-left: 10px; /* Adjust margin-left for smaller screens */
    }
}

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media (max-width: 767px) {
    .about .tab-titles {
        flex-direction: column;
        align-items: center;
        margin: 20px 0 10px; /* Adjust margins for smaller screens */
    }

    .about .tab-links {
        margin: 10px 0;
    }

    .about .tab-contents ul li {
        margin: 10px 0 20px; /* Adjust margins for smaller screens */
    }
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    .home .home-image img {
        height: 35%;  
        width: 30%;   /* Adjust the width to your preference */
        max-width: 100%;  
        position: absolute;
        top: 2.5rem;  /* Move it a bit more above */
        right: auto;   /* Shift it more to the left */
        bottom: auto;
        border-radius: 10px;  /* Adjust the border-radius for a smaller image */
        
    }
}







  
  
  
  
  