
@import url('https://fonts.googleapis.com/css2');

/*Styling everything in the html page*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    outline: none;
    border: none;
}

/*Styling in html tag*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/*styling in body tag*/
body{
    background-color: black;
    color:white;
}

/*styling the header class*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

section{
    min-height:  100vh;
    padding: 10rem 9% 2rem;
}

/* styling logo*/
.Logo{
    font-size: 1.7rem;
    color:white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

/* styling navbar classes elements */
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.7rem;
}

.navbar a:hover,
.navbar a.active {
    color: darkorange;
}

#menu{
    font-size: 3.6rem;
    display: none;
}

.home{
    text-align: left;
    display: flex;
    align-items: center;
}

.home-detail h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-detail h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
}
.home-detail p{
    margin-right: 40%;
    font-size: 2rem;
    text-align: justify;
}
.home-detail h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: darkorange;
}

.social-media a{
    text-align: left;
    display: inline-flex ;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: darkorange;
    font-size: 2rem;
    border: 2px solid darkorange;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

/* javascript */
.social-media a:hover, .social-media a.active{
    background-color: darkorange;
    color: black;
    box-shadow: 0 0 20px darkorange;
}

.home-detail .btn{
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 40px;
    color: black;
    background: darkorange;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    outline: none;
    transition: .5sec ease;
    cursor: pointer;
}
.btn:hover{
    background: black;
    color: darkorange;
    border: 1px solid darkorange;
}

.home .home-image img {
    height: 45%;
    width: 20%;
    position: absolute;
    left: 85%;
    bottom: 25%;
    border-radius: 30px;
    transform: translateX(-50%);
    transition: opacity 1s, bottom 1s, left 1s;
    opacity: 0.5;
}


.home .home-image img:hover{
    opacity: 1;
    left: 80%;
    transform: translateX(-50%);
    transition: bottom 0.5s, left 1s;
}

.about{
    background-color: #111;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.about-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
  
.about .about-section p{
    font-size: 2rem;
    text-align: justify;
}

.allheading{
    text-align: center;
    font-size: 4.5rem; 
}
.about h2{
    text-align: left;
    line-height: 1.2;
}
.about-section h3{
    font-size: 2.6rem;
}
.about-section p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/* service section */
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-img {
    margin-top: 2rem;
}

.service-img h2{
    margin-bottom: 4rem;
}

.service-img img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 2rem;
}

.service-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.service-section .service-box {
    flex: 0 0 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    background: black;
    color: white;
    border: 3px solid black;
    transition: 0.5s ease;
    margin-bottom: 2rem; /* Add margin bottom for spacing */
    margin-right: 2rem;
}

.service-box:hover {
    border: 2px solid darkorange;
    transform: scale(1.2);
}

.service-box i {
    font-size: 100px;
    color: darkorange;
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/* Project section */
.portfolio{
    background-color: #111;
}

.portfolio h2{
    margin-bottom: 3.5rem;
}

.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
    margin-right: 1rem;
}

.portfolio-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2.5rem;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-head{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0,0,0,.3), darkorange
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;  
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.2);
}

.portfolio-box:hover .portfolio-head{
    transform: translateY(0%);
}

.portfolio-head h4{
    font-size: 3rem;
}

.portfolio-head p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-head a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 50%;
    text-decoration: none;
}

.portfolio-head i{
    font-size: 2.5rem;
    color: black;
}

/* contact me */
.contact h2{
    margin-bottom: 5rem;
}

.contact-info h3{
    font-size: 3rem;
}
.contact-info p{
    font-size: 2rem;
    margin-bottom: 2rem;
}
  
.contact-info:hover {
    display: inline-block;
    transform: scale(1.3);
    transform-origin: center;
    transition: transform 0.5s ease
}

/* Responsive Styles */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}



  
  
  
  
  